{% if page.layout == "page" or page.layout == "project" %}
  <div id="breadcrumbs" class="txt-color-white {% if page.layout == "project" %}text-center{% endif %}">
    <small class="txt-modern {% if page.layout == "project" %}text-center{% endif %}">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        {% if page.layout != "project" %}
          <a href="/" class="txt-color-white">Home</a>
        {% endif %}
        {% for crumb in crumbs offset: 1 %}
          {% if forloop.last %}
            <span class="txt-color-white">\ {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</span>
          {% else %}
          <span class="txt-color-white">{% if page.layout != "project" %}\{% endif %}</span> <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}" class="txt-color-white">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
          {% endif %}
        {% endfor %}
    </small>
  </div>
{% endif %}

{% if page.layout == "post" %}
  <div id="breadcrumbs" class="txt-color-white">
    <small class="txt-modern">
          <a href="/" class="txt-color-white">Home </a><a href="/blog" class="txt-color-white">/ Blog</a>
    </small>
  </div>
{% endif %}