<div id="embedMessage" class="p-4 no-select">
    <img class="pb-5 no-save" src="{{ site.baseurl }}/assets/images/LOGO_LDR_TEXT_HOR_BOTTOM_ZWART.svg" alt="" width="210px">
    <h3 class="text-center d-none">This page was embedded</h3>
    <p class="txt-modern">Embedding is not supported</p>
    <p class="text-center">Developing a website is a lot of work, so just put an link to this page on your site<br> or view this page by clicking the button below ;)</p>
    <a href="https://lennertderyck.be{{page.url}}" class="btn" rel="noopener" target="_blank">Open on new tab</a>
</div>

<style>
    #embedMessage {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: #f9f9f9;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 10000000000000000000000000;
        /* border: 4px solid #e8e8e8; */
    }

    html:not(.embedded) #embedMessage {
        display: none;
    }

    html.embedded {
        overflow: hidden;
    }
</style>