<div class="modal fade" id="modalClientfiles" tabindex="-1" role="dialog" aria-labelledby="modalClientfilesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
            <div class="h-section mb-0">
                <h5 class="modal-title" id="modalClientfilesTitle">Cloud bestanden</h5>
                <p class="txt-modern mb-0">Storage code</p>
            </div>
            <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group mb-3">
                <small class="about">Dit is de code die u per mail kreeg en lijkt op 'DsmDTjS48IKTfvy'</small>
                <input type="text" class="w-100" id="inputClientfilesCode">
            </div>
        </div>
        <div class="modal-footer pt-0 bg-color-white">
            <button type="button" class="btn bg-color-3" data-dismiss="modal">Annuleren</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="saveClientfilesCode()">Opslaan & testen</button>
        </div>
        <div class="alert small mb-0 w-100 text-center" role="alert">
            Na het opslaan van je code wordt deze pagina herladen.
        </div>
      </div>
    </div>
</div>

<script>
    

</script>