{% if page.layout == "project" %}
<div id="navFloat" class="px-4 px-md-0">
    <div id="navFloatContainer" class="container bd-radius shadow py-3">
        <div class="row">
            <div class="col-6 col-lg-4 pl-4 d-flex align-items-center">
                {% if page.previous.url %}
                    <a class="prev d-flex flex-row align-items-center txt-color-white" href="{{ page.previous.url | remove:'.html'}}">
                        <div>
                            <i data-feather="arrow-left"></i>
                        </div>
                        <div  class="mt-1">
                            <p id="prevTitle" class="txt-modern ml-2 mb-0 txt-color-white">{{ page.previous.title }}</p>
                        </div>
                    </a>
                {% endif %}
            </div>
            <div class="col-4 d-none d-lg-block text-center">
                <h5 class="mb-0 txt-color-white">{{ page.title }}</h5>
            </div>
            <div class="col-6 col-lg-4 pr-4 d-flex justify-content-end">
                {% if page.next.url %}
                <a class="next d-flex flex-row align-items-center txt-color-white" href="{{ page.next.url | remove:'.html'}}">
                    <div class="mt-1">
                        <p id="nextTitle" class="txt-modern mr-2 mb-0 text-right txt-color-white">{{ page.next.title }}</p>
                    </div>
                    <div>
                        <i data-feather="arrow-right"></i>
                    </div>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}