{% if page.widgets-bottom == true %}
<div class="bg-color-main mt-5">
    <div class="container">
        <div class="row">
            <div class="col-4 py-5">
                <div class="h-section txt-color-white">
                    <h4 class="txt-color-white">
                        Opdrachten
                    </h4>
                    <p class="txt-modern mb-0">
                        Meer informatie
                    </p>
                </div>
                <p>
                    Krijg informatie over opdrachten
                </p>
                <a href="/" class="btn">Bekijken</a>
            </div>
            <div class="col-4 py-5">
                <div class="h-section txt-color-white">
                    <h4 class="txt-color-white">
                        Bestanden
                    </h4>
                    <p class="txt-modern mb-0">
                        Vereisten en informatie
                    </p>
                </div>
                <p>
                    Over bestanden aanleveren en ontvangen
                </p>
                <a href="/bestanden" class="btn">Bekijken</a>
            </div>
            <div class="col-4 py-5">
                <div class="h-section txt-color-white">
                    <h4 class="txt-color-white">
                        Contact
                    </h4>
                    <p class="txt-modern mb-0">
                        Offerte, vragen, info
                    </p>
                </div>
                <p>
                    Ontvang een offerte, stel vragen en meer
                </p>
                <a href="/contact" class="btn">Bekijken</a>
            </div>
        </div>
    </div>
</div>
{% endif %}