:root {
    --font-main: 'Eina 02';
    --bd-radius: 15px;

    --font-main: "Overpass";
    --font-scnd: "Oswald";

    --color: #444;

    --accent-main: #444;
    --accent-2: #f1f2f3;
    --accent-3: #999999;
    --accent-4: #017069;
    --accent-5: #006771;
    --accent-6: #fbfbfb;
    --accent-7: #0e484e;
}
html, body {
    min-height: calc(100vh - 90px - 150px);
    width: 100%;
}

html {
    height: 100%;
}

body.no-scroll {
    overflow: hidden;
}

* {
    transition: 0.35s all ease;
}

*:focus, button:focus {
    outline: none;
    box-shadow: none;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    --padding-x: 35px;
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
}

.row.section {
    margin-bottom: 5rem;
}

/* .row {
    padding: 0px 35px;
} */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald';
    font-weight: 400;
    color: var(--color)
}

h1, h2, h4 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1.5px !important;
    color: var(--color);
    font-weight: 300;
}

h3 {
    font-weight: 300;
    letter-spacing: 1.5px !important;
}

h4 {
    font-size: 27px;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

a[href*='lennertderyck.be']:not(.txt-modern):not(.nav-link):not(.btn), p a:not(.txt-modern):not(.nav-link):not(.btn) {
    color: var(--accent-4);
    cursor: pointer;
}

p {
    font-family: var(--font-main);
    color: var(--color);
}

p:not(.txt-modern) div:not(.txt-modern) p {
    font-weight: 400;
}

.maxw-100 {
    max-width: 100% !important;
}

.maxw-fit {
    max-width: fit-content !important;
}

.w-fit {
    width: fit-content !important;
}


.txt-sm {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.h-section {
    margin-bottom: 1rem;
}

.h-section h4 {
    margin-bottom: 4px;
}

.shadow {
    box-shadow: 0px 6px 25px 3px rgba(0, 0, 0, 0.32);
}

.txt-modern:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6), tl, #site-content h5 {
    text-transform: uppercase;
    font-family: "Overpass" !important;
    font-weight: 700;
    //font-size: 16px;
    color: inherit;
    letter-spacing: 2px !important;
    color: var(--color)
}

#site-content h5 {
    font-size: 16px;
}

.bg-main {
    background-image: url(/assets/images/backgr_paint_dark.png);
    background-size: cover;
    background-position: 50% 50%;
}

#site-content {
    // position: relative;
    min-height: calc(100vh - 90px - 150px - 250px);
    height: 100%;
    width: 100%;
    padding-top: 70px;
}

#site-content.page-no-title {
    min-height: calc(100vh - 150px - 90px - 48px);
}

.txt-note, .page-content blockquote p {
    color: var(--accent-3) !important;
}

.bd-radius {
    border-radius: var(--bd-radius);
}

/* MAIN CONTENT ******************************/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: var(--accent-7);
    position: fixed;
    z-index: 5000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
  }

    #loaderSplash {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 400;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: white;
    }

    div.pace.pace-active ~ #loaderSplash {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 400;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: white;
    }

    div.pace.pace-inactive ~ #loaderSplash {
        display: none;
    }

/* MAIN NAV */
    #navMain {
        height: 150px;
        padding: 0px 35px
    }

    #navMain > #NavMainCollapse li {
        position: relative;
        display: inline-block;
        color: black;
        font-family: "Overpass";
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        padding: .75em 1.3125em;
    }

    #navMain > #NavMainCollapse li::after {
        content: "";
        position: absolute;
        display: inline-block;
        top: calc(50% - 1px);
        right: 0%;
        width: 3px;
        height: 3px;
        vertical-align: middle;
        border-radius: 50%;
        background-color: #3D3D3D;
    }

    #navMain > #NavMainCollapse li:last-child {
        padding-right: 0px;
    }

    #navMain > #NavMainCollapse li:last-child::after {
        display: none;
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(4px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .navbar-toggler {
        display: flex;
        flex-direction: column;
        padding: 0px;
        border: none;
        width: 35px;
    }

    .navbar-toggler > div {
        background-color: var(--accent-main);
        height: 3px;
        width: 35px;
        border-radius: 120px;
        margin-bottom: 10px;
        // animation-name: float;
        animation-duration: 2.7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    .navbar-toggler > div:last-child {
        margin-bottom: 0px;
        align-self: flex-end;
    }

    .navbar-toggler:hover > div.top {
        width: 50%;
    }

    .navbar-toggler:hover > div.bottom {
        width: 50%;
    }

    .navbar-toggler:not(.collapsed) > div.top {
        width: 50%;
        transform: translateX(100%)
    }

    .navbar-toggler:not(.collapsed) > div.bottom {
        width: 50%;
        transform: translateX(-100%)
    }


/* PAGE TITLE */
    #pageTitle {
        background-image: url(/assets/images/backgr_paint_dark.png);
        background-size: cover;
        background-position: 50% 50%;
    }

    #pageTitle .col {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #pageTitle #breadcrumbs {
        margin-bottom: 30px;
    }

/* COL TITLE */
    .col > h1, .col > h2, .col > h4 {
        margin-bottom: 3rem;
    }

/* PAGE CONTENT TYPOGRAPHY */
    .page-content h3 {
        margin-bottom: 16px;
    }

    /* WIDGETS */
    .page-widgets .h-section {
        margin-bottom: 5px;
    }

/* PORTFOLIO CARDS */
    .cards-portfolio {
        column-count: 1;
        column-gap: 50px;
    }

    .cards-portfolio > .card {
        position: relative;
        // width: 325px;
        height: 200px;
        border: none;
        border-radius: var(--bd-radius);
        overflow: hidden;
        box-shadow: 0px 6px 25px 3px rgba(0, 0, 0, 0.32);
        margin-bottom: 50px;
    }

    .cards-portfolio > .card > img {
        width: 100%;
        height: 200px;
    }

    .cards-portfolio > .card > .card-body {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding: 30px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.562) 0%, rgba(255, 255, 255, 0) 100%);
    }

    /* MORE PROJECTS */
        #portfolio.cards-portfolio > .card:not(a):nth-last-child(2) {
            margin-bottom: 0px;
        }

        #portfolio.cards-portfolio > .card:not(a):last-child {
            box-shadow: none;
            background: none;
        }

        #portfolio.cards-portfolio > .card:not(a):last-child > .card-body {
            background: none;
        }

    /* TAGS */
    .tag::after {
        content: ", "
    }

    .tag:last-child::after {
        display: none;
    }

    /* PROJECTS PAGE */
    #portfolio {
        display: flex;
        flex-wrap: wrap;
    }

    #portfolio.cards-portfolio > .card {
        flex-basis: calc(100% / 2 - 50px);
        margin-right: 50px;
    }

    #portfolio.cards-portfolio > .card:nth-child(even) {
        margin-right: 0px;
    }

/* SOCIAL JUICER */
    .juicer-ad {
        display: none !important;
    }

    .j-stacker .feed-item {
        border: none !important;
        border-radius: var(--bd-radius) !important;
        overflow: hidden !important;
        box-shadow: 0px 6px 25px 3px rgba(0, 0, 0, 0.32) !important;
        padding: 0px !important;
        padding-bottom: 20px !important;
    }

    .j-stacker .feed-item .j-message {
        padding: 0px 20px !important;
    }


    .juicer-feed.loaded {
        overflow: visible !important;
    }

/* FORMS */
    form div.group {
        margin-bottom: 2rem;
    }

    form div.group .txt-modern {
        margin-bottom: 7px;
    }

    form div[class*="col-"], form div[class="col"]{
        padding-left: 15px;
        padding-right: 15px;
    }

    form input, form textarea {
        border-radius: var(--bd-radius);
        border: none;
        background-color: var(--accent-2);
        // olor: var(--accent-3);
        padding: 5px 10px;
        font-family: var(--font-main);
    }

    form input::placeholder {
        color: var(--accent-3);
    }

    form input.longer {
        width: calc(164px + 120px);
    }

    form input.long {
        width: calc(164px + 180px);
    } 

    .input-container {
        display: flex;
        align-items: center;
        background-color: var(--accent-2);
        border-radius: var(--bd-radius);
        min-height: 34px;
        padding-left: 10px;
        overflow: hidden;
    }

    form select {
        position: relative;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-family: var(--font-main);
        padding: 5px 10px;
        border: 0px;
        min-width: 188px;
        background-color: var(--accent-2);
        border-radius: var(--bd-radius);
    }

    form .container-select {
        position: relative;
        width: fit-content;
    }

    /* form .container-select select {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    } */

    form .container-select::after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: black transparent transparent transparent;
    }

/* ACCORDION */
    .accordion {
        border-radius: var(--bd-radius);
        overflow: hidden;
    }

    .accordion .card, .accordion .card-header {
        border: none;
    }

    .accordion .card-header {
        background-color: var(--accent-2);
    }

    .accordion .card > div:nth-child(2) {
        background-color: var(--accent-6);
    }

/* SITE CONTENT NOT SCROLL */
    #NavMainCollapse.show ~ #site-content {

    }

/* FOOTER */
    footer {
        // position: absolute;
        // bottom: 0px;
        height: 90px;
        background-color: #f1f2f3;
    }

/********************************************************************/
    /* BUTTON */
        .button {
            display: block;
            width: fit-content;
            background-color: white;
            font-family: var(--font-main);
            padding: 15px 15px 11px 15px;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            border-radius: var(--card-header-bd-radius);
            color: black;
        }

        .btn {
            background-color: var(--accent-main);
            color: white;
            text-transform: uppercase;
            font-family: "Overpass" !important;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 2px !important;
            padding: 0.500rem 0.8rem;
            width: fit-content;
        }

        .btn:hover {
            color: white;
            background-color: #3D3D3D;
            // box-shadow: 0 0 0 0.2rem rgba(61, 61, 61, 0.25);
            // box-shadow: 0px 6px 25px 3px rgba(0, 0, 0, 0.32);
        }

        .btn.focus, .btn:focus {
            outline: 0;
            // box-shadow: 0 0 0 0.2rem rgba(61, 61, 61, 0.25);
            box-shadow: none;
            // box-shadow: 0px 6px 25px 3px rgba(0, 0, 0, 0.32);
        }

    /* 404 */
        .error404 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            height: 100%;
            width: 100%;
            padding: 40px;
            background-image: url(/uploads/404.png)
        }

        .error404 h1, .error404 h2 {
            font-weight: 600;
        }

    /* HEADING */
        .name {
            font-family: 'Oswald', sans-serif;
            letter-spacing: 1px !important;
            font-weight: 400 !important;
            text-transform: uppercase;
            line-height: 1;
        }

        .name-subtitle {
            font-family: 'Overpass', sans-serif;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 2px;
            color: inherit;
        }

    /* ACCORDION CARDS */
        #projects {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }

        #projects .card:first-of-type {
            border-radius: 15px;
        }

        #projects > .card {
            --card-header-bd-radius: 15px;
            border-radius: var(--card-header-bd-radius) !important;
            box-shadow: 0px 6px 25px 3px rgba(0,0,0,0.32);
            border: none;
            flex-basis: 100%;
            margin: 10px;
            height: fit-content;
        }

        #projects > .card .btn.btn-link {
            position: relative;
            width: 100%;
            border: none;
            padding: 0px;
            border-bottom-left-radius: var(--card-header-bd-radius);
            border-bottom-right-radius: var(--card-header-bd-radius);
        }

        #projects > .card div[class="collapse"], #projects > .card div[class="collapse"] .card-body{
            border-bottom-left-radius: var(--card-header-bd-radius);
            border-bottom-right-radius: var(--card-header-bd-radius);
        }

        #projects#projects .card > button > img {
            background: lightgray;
        }

        #projects > .card > div > .card-body {
            --txt-color: rgb(117, 117, 117);
            padding: 30px;
            color: var(--txt-color);
            font-family: var(--font-main);
            line-height: 25px;
        }

        #projects > .card > div > .card-body h5 {
            color: black;
            font-weight: 600;
            margin-bottom: 5px;
        }

        #projects > .card > div > .card-body p img {
            width: 100%;
        }

        #projects > .card > div > .card-body p {
            color: var(--txt-color);
        }

        .proj-gh-url, .proj-read-more {
            padding: 5px 3px 3px 5px;
            background-color: rgb(221, 221, 221);
            border-radius: 6px;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
        }

        .proj-gh-url svg, .proj-read-more svg {
            --svg-size: 15px;
            width: var(--svg-size);
            height: var(--svg-size);
            transform: translate(-1px,-1px);
        }

        .proj-gh-url:hover svg, .proj-read-more:hover svg {
            transform: translate(1px,-1px);
        }

        .proj-read-more[data-hidden="true"] {
            display: none !important;
        }

        .proj-read-more {
            white-space: nowrap;
        }

        #projects > .card > div > .card-body div.more-info .card-body {
            padding: 0px;
            border: none;
        }

        #projects > .card > div > .card-body div.more-info .card-body > :last-child {
            margin-bottom: 0px;
        }

        /* OVERLAY */
            #projects > .card .btn.btn-link .overlay {
                position: absolute;
                top: 0px;
                left: 0px;
                padding: 30px;
                height: 100%;
                width: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.562) 0%, rgba(255,255,255,0) 100%);
                border-radius: var(--card-header-bd-radius);
            }

            #projects > .card .btn.btn-link {
                border-radius: 15px;
            }

            #projects > .card .btn.btn-link > img {
                border-radius: 15px;
            }

            #projects > .card .btn.btn-link:not(.collapsed) > img {
                height: 135px;
            }

            #projects > .card .btn.btn-link.collapsed > img {
                height: 200px;
            }

            #projects > .card .btn.btn-link .overlay h3, #projects > .card .btn.btn-link .overlay h4 {
                text-align: left;
                color: white;
                font-weight: 400;
            }

            #projects > .card .btn.btn-link .overlay h3 {
                font-weight: 600;
            }

            #projects > .card .btn.btn-link .overlay h4 {
                opacity: 0.7;
                font-size: 0.8rem;
                text-transform: uppercase;
                letter-spacing: 2px;
            }


            #projects > .card .btn.btn-link .overlay svg {
                --card-overl-svg-size: 30px;
                color: white;
                height: var(--card-overl-svg-size);
                width: var(--card-overl-svg-size);
            }

            /***********************************************/

    /* PROJECTS */
        #project-new {
            column-count: 1;
            column-gap: 45px;
        }

        #project-new > .card {
            border-radius: var(--card-header-bd-radius);
            border: none;
            box-shadow: 0px 6px 25px 3px rgba(0, 0, 0, 0.32);
            margin-bottom: 1.25rem;
            margin-bottom: 35px;
            margin-top: 10px;
        }

        #project-new > .card > button {
            padding: 0px;
            border: none;
        }

        #project-new > .card > button img {
            border-radius: var(--card-header-bd-radius);
        }

        #project-new > .card .btn.btn-link {
            position: relative;
            width: 100%;
            border: none;
            padding: 0px;
            border-bottom-left-radius: var(--card-header-bd-radius);
            border-bottom-right-radius: var(--card-header-bd-radius);
        }

        #project-new > .card > div > .card-body {
            --txt-color: rgb(117, 117, 117);
            padding: 30px;
            color: var(--txt-color);
            font-family: var(--font-main);
            line-height: 25px;
        }

        #project-new > .card > div > .card-body h5 {
            color: black;
            font-weight: 600;
            margin-bottom: 5px;
        }

        #project-new > .card > div > .card-body p img {
            width: 100%;
        }

        #project-new > .card > div > .card-body p {
            color: var(--txt-color);
        }

        #project-new > .card > div > .card-body div.more-info {
            margin-bottom: 0px;
        }

        #project-new > .card > div > .card-body div.more-info .card-body {
            padding: 0px;
            border: none;
        }

        #project-new > .card > div > .card-body div.more-info .card-body > :first-child {
            margin-top: 1.25rem;
        }

        #project-new > .card > div > .card-body div.more-info .card-body > :last-child {
            margin-bottom: 0px;
        }

    /* OVERLAY */
        #project-new .card-body {
            padding: 0px;
        }

        #project-new > .card .proj-img {
            border-radius: var(--card-header-bd-radius);
        }

        #project-new > .card .overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 30px;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.562) 0%, rgba(255, 255, 255, 0) 100%);
            border-radius: var(--card-header-bd-radius);
        }

        #project-new > .card .card-body .overlay h3, #projects > .card .btn.btn-link .overlay h4 {
            text-align: left;
            color: white;
            font-weight: 400;
        }

        #project-new > .card .card-body .overlay h3 {
            font-weight: 600;
            color: white;
        }

        #project-new > .card .card-body .overlay h4 {
            opacity: 0.7;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: white;
        }

        /* REPO */
        #repo {
            margin-top: -250px;
        }

        #repo .project-image

        /* MORE PROJECTS */
            #repo .repo-more-proj h1 {
                margin-top: calc(24px + 48px + 86px);
                font-weight: 600;
            }

            #repo .more-proj-card {
                height: 100px;
                width: auto;
                border: none;
                border-radius: var(--card-header-bd-radius);
                overflow: hidden;
            }

            #repo .more-proj-card img {
                border-radius: var(--card-header-bd-radius);
                filter: blur(3px);
                transform: scale(1.2)
            }

            #repo .more-proj-card .overlay {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                padding: 20px;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.56) 0%, rgba(255, 255, 255, 0) 100%);
                border-radius: var(--card-header-bd-radius);
            }

            #repo .more-proj-card .overlay h4 {
                font-weight: 600;
                color: white;
            }

            #repo .more-proj-card .overlay small {
                opacity: 0.7;
                font-size: 0.8rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: white;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        #repo .repo-proj-title {
            font-weight: 700;
        }

        #repo .pages-card {
            margin-top: 50px;
            border: none;
        }

        #repo .pages-card img {
            border-top-left-radius: var(--card-header-bd-radius);
            border-bottom-left-radius: var(--card-header-bd-radius);
        }

        #repo .pages-card {
            border-radius: var(--card-header-bd-radius);
        }

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, less than 576px) 
@media (max-width: 575.98px) { ... } */

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    #projects > .card {
        flex-basis: 100%;
    }
 }

@media (min-width: 576px) { 
    #projects > .card {
        flex-basis: 100%;
    }
} */

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }  */

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    #navMain > a > img {
        width: 250px;
    }
}

@media (min-width: 576px) {
    /* PORTFOLIO CARDS */
        .cards-portfolio {
            column-count: 1;
            column-gap: 60px;
        }
}

@media (max-width: 768px) { 
    /* PORTFOLIO CARDS */
        .card-columns.cards-portfolio {
            column-count: 1;
            column-gap: 60px;
        }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    /* PORTFOLIO CARDS */
        .card-columns.cards-portfolio {
            column-count: 1;
            column-gap: 60px;
        }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    /* MAIN NAV */
    @keyframes menuCollapse {
        0% {
            height: 0%;
        }

        100% {
            height: 100%;
        }
    }

    @keyframes menuCollapseClosed {
        0% {
            height: 100%;
        }

        100% {
            height: 0%;
        }
    }
    
    #NavMainCollapse {
        position: fixed;
        background-color: white;
        top: calc(0px + 150px);
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100vh;
        z-index: 4000;
        animation-name: menuCollapse;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }
    
    /* #NavMainCollapse {
        animation-name: menuCollapseClosed;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    } */

    #NavMainCollapse > ul {
        text-align: center;
    }

    #navMain > #NavMainCollapse li {
        text-transform: uppercase;
        font-family: "Overpass" !important;
        font-weight: 700;
        font-size: 24px;
        color: inherit;
        letter-spacing: 2px !important;
        color: var(--color);
        // padding-left: 36px;
    }

    #navMain > #NavMainCollapse li:last-child {
        padding-right: 1.3125em;
    }

    #navMain > #NavMainCollapse li::after {
        display: none;
    }

    /* PORTFOLIO */
        #portfolio.cards-portfolio > .card {
            flex-basis: 100%;
            margin-right: 0px;
        }

        #portfolio.cards-portfolio > .card:nth-child(even) {
            margin-right: 0px;
        }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
    #projects > .card {
        flex-basis: calc(50% - 20px);
    }

    #project-new {
        column-count: 2;
    }

    /* PORTFOLIO CARDS */
    .card-columns .cards-portfolio {
        column-count: 3;
        column-gap: 50px;
    }

    /* MORE PROJECTS */
    .card-columns.cards-portfolio > .card:nth-last-child(2) {
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1270px;
    }

    #project-new {
        column-count: 3;
    }
}

