---
layout: page
title: Blog
permalink: "/blog"
titlebar: true
add-to-menu: false
ft-image: ''
widgets: false
widget-blocks: []
full-width: false
redirect_plugin:
  redirect_to: ''
  redirect_from: ''
short-desc: |-
  Mijn ideeën
widgets-bottom: false
more_settings:
  titlebar: false
site-content-padding: false
---
<div class="row mb-5 d-none">
  <div class="col">
    <div class="h-section">
      <h1 class="page-title fontw-400">Blog</h1>
      <p class="txt-modern">Interessante ideeën</p>
    </div>
  </div>
</div>
{% assign items = site.posts %}
{% for item in items limit:1 %}
  <a class="row overfl-none mb-5 vw-full" href="{{ item.url | remove:'.html' }}" >
    <div class="col-7 px-0 overfl-none" style="height: 340px;">
      <img src="{{ site.baseurl }}{{ item.ft-img }}" class="img-fit h-100 w-100 no-save" alt="...">      
    </div>
    <div class="col p-5 d-flex flex-column justify-content-center">
      <div>
        <h1 class="card-title lspacing-1 uppc mb-1 balance-text">{{ item.title }}</h1>
        <p class="txt-modern">{{ item.subtitle }}</p>
        <p class="post-intro font-thrd" style="font-size: 18px;">{{ item.preface }}</p>
        <p class="card-text small txt-modern mb-0 fontw-400 txt-color-white">{% for tags in item.tags %}<span class="tag box">#{{ tags }} </span>{% endfor %}</p>
      </div>
    </div>
  </a>
{% endfor %}
<div class="row">
    <div class="col px-0">
      <div id="portfolio" class="cards-row pt-3">
        {% assign items = site.posts %}
        {% for item in items %}
        <a class="no-select row mb-5 bd-radius bg-color-2" href="{{ item.url | remove:'.html' }}">
          <div class="col-5 px-0">
            <img src="{{ site.baseurl }}{{ item.ft-img }}" class="img-fit no-save" alt="...">
          </div>
          <div class="col p-5">
            <small class="txt-modern mb-2 d-block" style="opacity: 0.6;">{{ item.date | date: "%b %d, %Y" }}</small>
            <h2 class="balance-text mb-1">{{ item.title }}</h2>
            <p class="txt-modern">{{ item.subtitle }}</p>
            <p class="post-intro font-thrd" style="font-size: 18px;">{{ item.preface }}</p>
            <p class="card-text small txt-modern mb-0 fontw-400 txt-color-white">{% for tags in item.tags %}<span class="tag box">#{{ tags }} </span>{% endfor %}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>