---
layout: default
permalink: "/index"
title: Home
titlebar: false
add-to-menu: false
ft-image: 
widgets: false
full-width: false
short-desc: Jong grafisch ontwerper met grote dromen en een passie voor vormgeving
widgets-bottom: false

---
<div style="margin-top: -70px;" class="bg-main mb-5">
    <div class="container" style="padding-bottom: 234.375px; padding-top: 168.750px;">
        <div class="row">
            <div class="col">
                <p class="d-none d-sm-block strong font-scnd uppc fontw-600 txt-color-white no-select" style="font-size: 75px; line-height: 75px;">
                    Een jong grafisch ontwerper met grote dromen en een passie voor vormgeving
                </p>
                <p class="d-block d-sm-none strong font-scnd uppc fontw-600 txt-color-white no-select" style="font-size: 60px; line-height: 75px;">
                    Een jong grafisch ontwerper met grote dromen en een passie voor vormgeving
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 h-section mb-0">
            <h2>portfolio</h2>
        </div>
        <div class="col-12 mb-4">
            <a onclick="filterPortfolio('All')" class="txt-modern fontw-400 mr-3">ALL</a>
            <a onclick="filterPortfolio('Branding')" class="txt-modern fontw-400 mr-3">BRANDING</a>
            <a onclick="filterPortfolio('Fotografie')" class="txt-modern fontw-400 mr-3">FOTOGRAFIE</a>
            <a onclick="filterPortfolio('Online')" class="txt-modern fontw-400 mr-3">ONLINE</a>
            <a onclick="filterPortfolio('Print')" class="txt-modern fontw-400 mr-3">PRINT</a>
            <a onclick="filterPortfolio('School')" class="txt-modern fontw-400 mr-3">SCHOOL</a>
            <a onclick="filterPortfolio('Sign')" class="txt-modern fontw-400 mr-3">SIGN</a>
            <a onclick="filterPortfolio('Web')" class="txt-modern fontw-400 mr-3">WEB</a>
            <a onclick="filterPortfolio('Wvd')" class="txt-modern fontw-400">WERK VOOR DERDEN</a>
        </div>
        <div id="portfolio-wrapper" class="p-0">
            <div id="portfolio" class="cards-portfolio pt-4 wide">
                {% assign items = site.projects | sort: 'date' %}
                {% assign tags = item.tags | split: ", " %}
                {% for item in items limit:5 %}
                    <a class="card portfolio-item no-select {% for tags in item.tags %}{{ tags }} {% endfor %}" href="{{ item.url | remove:'.html' }}">
                        <img src="{{ site.baseurl }}{{ item.ft-img }}" class="img-fit" alt="...">
                        <div class="card-body txt-color-white">
                            <div class="d-flex flex-column justify-content-end w-100 h-100">
                                <h3 class="card-title lspacing-1 uppc mb-1 txt-color-white">{{ item.title }}</h3>
                                <p class="card-text txt-modern mb-0 fontw-400 txt-color-white">{% for tags in item.tags %}<span class="tag sep">{{ tags }}</span>{% endfor %}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}

                <div class="card no-select">
                    <div class="card-body px-0 txt-color-white">
                        <div class="d-flex flex-column justify-content-end w-100 h-100">
                            <h3 class="card-title lspacing-1 uppc mb-1">Nog meer projecten ontdekken?</h3>
                            <p class="card-text txt-modern mb-3">bekijk alles</p>
                            <a class="btn" href="/projects">portfolio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <small class="txt-modern">Scroll door mijn projecten <span class="transl-up-2"><span class="scale-child-75"><i data-feather="arrow-right"></i></span></span></small>
        </div>
        <div class="col-12 d-none">
            <div class="h-section">
                <h3 class="card-title lspacing-1 uppc mb-1">Meer projecten</h3>
                <p class="card-text txt-modern mb-3">ontdek meer</p>
                <a class="btn" href="/projects">Bekijken</a>
            </div>
        </div>
    </div>
</div>