---
layout   : default
---
<div class="container" {% if page.full-width == true %}style="max-width: 800px;"{% endif %}>
    <div class="row">
        {% if page.widgets == true %}
            <div class="page-content col-12{% if page.full-width == false %} col-md-7 col-lg-9{% endif %}">
                {{ content }}
            </div>
            <div class="page-widgets col-12 col-md-5 col-lg-3">
                <hr class="my-5 d-block d-md-none">
            
                {% for item in page.widget-blocks %}
                    <div class="widget">

                        {% if item.template == "widget" %}
                            <div class="h-section mb-1">
                                <h4>{{ item.title }}</h4>
                                <tl>{{ item.subtitle }}</tl>
                            </div>
                            {{ item.content | markdownify }}
                            {% if item.button-url != "" %}
                                <a href="{{ item.button-url }}" class="btn" {% if item.new-tab == true %} rel="noopener" target="_blank"{% endif %}>{{ item.button-label }}</a>
                            {% endif %}
                        {% endif %}
    
                        {% if item.template == "widget-code" %}
                            <div class="h-section">
                                <h4>{{ item.title }}</h4>
                                <tl>{{ item.subtitle }}</tl>
                            </div>
                            {% if item.content != "" %}
                                <p class="mt-2">{{ item.content }}</p>
                            {% endif %}
                            <div>
                                {{ item.code | remove: "<p>" | remove: "</p>" }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if page.widgets == false %}
            <div class="page-content col-12">
                <div class="container">
                    {{ content }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
