---
layout   : default
---
<div class="container" {% if page.full-width == true %}style="max-width: 800px;"{% endif %}>
    <div class="row">
        {% if page.widgets == true %}
            <div class="page-content col-12{% if page.full-width == false %} col-md-9{% endif %}">
                {{ content }}
            </div>
            <div class="page-widgets col-12 col-md-3">                
                {% for item in page.widget-blocks %}
                    <div class="widget mb-5">

                        {% if item.template == "widget" %}
                            <div class="h-section mb-1">
                                <h4>{{ item.title }}</h4>
                                <tl>{{ item.subtitle }}</tl>
                            </div>
                            <p class="mt-2">
                                {{ item.content | markdownify | remove:"<p>" | remove:"</p>" }}
                            </p>
                            {% if item.show-button == true %}
                                <a href="{{ item.button-url }}" class="btn">{{ item.button-label }}</a>
                            {% endif %}
                        {% endif %}
    
                        {% if item.template == "widget-code" %}
                            <div class="h-section">
                                <h4>{{ item.title }}</h4>
                                <tl>{{ item.subtitle }}</tl>
                            </div>
                            <p class="mt-2">{{ item.content }}</p>
                            <div>
                                {{ item.code | remove: "<p>" | remove: "</p>" }}
                            </div>
                            {% if item.show-button == true %}
                                <a href="{{ item.button-url }}" class="btn">{{ item.button-label }}</a>
                            {% endif %}
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if page.widgets == false %}
            <div class="page-content col-12">
                <div class="container">
                    {{ content }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
