---
layout   : default
permalink: /:day/:month/:year
---
<div id="blogPost" class="container" style="max-width: 750px;">
    <div class="row">
        <div class="page-content col-12">
            {{ content }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="postTags" class="txt-modern small">{% for tag in page.tags %}<div class="tag box">#{{ tag }} </div>{% endfor %}</div>
        </div>
    </div>
</div>

<div class="container" style="max-width: 750px;">
    <div class="row">
        <div class="col-12">
            <hr class="my-5">
            <small class="txt-modern">Meer ideeën</small>
        </div>
    </div>
</div>

