---
layout   : default
permalink: /:day/:month/:year
---
<div id="blogPost" class="container" style="max-width: 750px;">
    <div class="row">
        <div class="page-content col-12">
            {{ content }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="postTags" class="txt-modern small mb-4">{% for tag in page.tags %}<div class="tag box">#{{ tag }} </div>{% endfor %}</div>
            <div class="btns-share mt-4">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://lennertderyck.be{{ page.url }}" class="mr-3" target="_blank" rel="noopener"><i data-feather="facebook"></i></a>
                <a href="http://pinterest.com/pin/create/button/?url=https://lennertderyck.be{{ page.url }}&description={{ page.title }}" class="mr-3 d-none" target="_blank" rel="noopener">Delen op Pinstrest</a>
                <a href="http://twitter.com/share?text={{ page.title }}&url=https://lennertderyck.be{{ page.url }}" class="mr-3" target="_blank" rel="noopener"><i data-feather="twitter"></i></a>

                <button onclick="copyPostUrl()" type="button" style="background: none;" class="txt-color-5 clickable p-0" data-toggle="popover" data-content="url gekopieerd!"><i data-feather="link-2"></i> <span onclick="$('.popover').popover('hide')"></button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="max-width: 750px;">
    <div class="row">
        <div class="col-12">
            <hr class="my-5">
            <small class="txt-modern">Meer ideeën</small>
        </div>
    </div>
</div>

<style type="text/css">
    /* Plugin looks for elements with class named "balance-text" */
    .balance-text {
        text-wrap: balance;  /* Apply (proposed) CSS style */
    }
</style>

<script>
    function copyPostUrl() {
        var dummy = document.createElement('input'),
        text = window.location.href;
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);
    }
</script>

