---
layout   : default
---
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mb-5 mb-lg-0">
            <!--<img class="bd-radius mb-5" src="{{ page.ft-img }}" alt="Project featured foto" width="100%">-->
            <div>
                {% assign galleryCount = page.galery | size %}

                {% if galleryCount >= 2 %}    
                    {% if page.gallery != "" %}
                        <div id="carouselExampleIndicators" class="carousel slide bd-radius w-100" data-ride="carousel" data-interval="4000" data-touch="true">
                            <ol class="carousel-indicators">
                                    {% assign foo = 0 %}
                                {% for img in page.galery.first %}
                                    <li data-target="#carouselExampleIndicators" data-slide-to="{% increment foo %}" class="active"></li>
                                {% endfor %}
                                {% for img in page.galery offset:1 %}
                                    <li data-target="#carouselExampleIndicators" data-slide-to="{% increment foo %}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner bd-radius" style="overflow: hidden;     background-color: var(--accent-2);" data-touch="true">
                                {% for img in page.galery.first %}
                                    <div class="carousel-item active" style="overflow: hidden;" data-touch="true">
                                        <img src="{{ img }}" class="d-block w-100" alt="Project foto" style="object-fit: contain;">
                                    </div>
                                {% endfor %}
                                {% for img in page.galery offset:1 %}
                                    <div class="carousel-item" style="overflow: hidden;" data-touch="true">
                                        <img src="{{ img }}" class="d-block w-100 no-save" alt="Project foto" style="object-fit: contain;">
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <i data-feather="chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <i data-feather="chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}

                {% if galleryCount == 1 %} 
                    {% for img in page.galery %}
                        <img src="{{ img }}" class="d-block w-100 bd-radius no-save" alt="Project foto">
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-4">
            {{ content }}
            {% if page.client != "" %}
                <p class="txt-modern mb-1 mt-3">
                    Klant
                </p>
                <p class="mb-3">
                    {{ page.client }}
                </p>
            {% endif %}

            <div>
                <div id="postTags" class="txt-modern small">{% for tag in page.tags %}<div class="tag box">#{{ tag }} </div>{% endfor %}</div>
            </div>

            {% if page.project-url != "" %}
                <a class="btn mt-3" href="{{ page.project-url }}" target="_blank" rel="noopener">Project bekijken</a>
            {% endif %}
        </div>
    </div>
</div>